.episode {
  list-style: none;
  display: flex;
  flex: 0 1 280px;
  margin-bottom: 20px;
}

.episode-image {
  object-fit: cover;
  border-radius: 5px;
}

.episode a:hover .episode-image {
  opacity: 0.5;
  transition: 0.5s opacity;
}

.episode a:hover .episode-name {
  text-decoration: underline;
}

.episode-name {
  margin: 5px 0;
}

@media only screen and (max-width: 600px) {
  .episode {
    width: 90vw;
  }
  .episode-image {
    width: 90vw;
    height: auto;
  }
}
